# 環境名
APP_ENV=local

# APIサーバーのベースURL
BASE_URL=http://localhost:${PORT}

# データベースの接続先
DATABASE_URL=postgresql://postgres:password@localhost:${DB_PORT}/local

# SQLのクエリログを有効にする
ENABLE_QUERY_LOG=false

# ローカル環境用のポート
PORT=3000 # APIサーバー
DB_PORT=5503 # データベース
DB_SCHEMA_WEB_PORT=8888 # データベーススキーマ
OPENAPI_PORT=9000 # OpenAPI
